.table {
  grid-area: content;
  overflow: hidden;
  font-size: 11px;
  display: grid;
  grid-template-rows: auto 40px;
  grid-template-areas: "content" "footer";
}

.content {
  grid-area: content;
  overflow: hidden;
}

.footer {
  grid-area: footer;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;

  & > a {
    margin-left: 10px;
  }
}

.splash {
  grid-area: content / content / footer / footer;
}

.spinner {
  flex-grow: 1;
}
