.table {
  grid-area: content;
  overflow: scroll;
}

.gutter, .column {
  flex: 0 0 auto;
  font-size: 11px;
}

.gutter {
  position: sticky;
  left: 0;
  background-color: #fff;
}

.columns-row {
  display: flex;
  align-items: stretch;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  width: fit-content;
  min-width: 100%;

  .gutter, .column {
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}

.row {
  display: flex;
  min-width: 100%;

  &.row--even {
    background-color: #f5f5f5;

    .gutter {
      background-color: #f5f5f5;
    }
  }

  .column {
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  .gutter {
    border-right: 1px solid #ddd;
  }
}
