.tableRoot {
  grid-area: content;
  overflow: scroll;
}

.table {
  border-spacing: 0;
  width: 100%;
  font-size: 12px;
}

.table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

.table td {
  border: 1px solid transparent;
}

.selectedRow {
  background-color: #eee;
}

.editedRow {
  background-color: yellow;
}

.deletedRow {
  background-color: red;
}

.newRow {
  background-color: green;
}

.selectedCell {
  border: 1px solid #000;
}

.actions {
  padding: 5px 10px;
}

.actions a, .actions span {
  margin: 10px;
}
