.table-column {
  font-size: 11px;
  user-select: none;
  background-color: #fff;
  display: flex;
  outline: none;

  &.dragging {
    opacity: 0;
  }

  &:hover {
    .reorder {
      display: inline;
    }
  }
}

.content {
  padding: 8px 5px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.reorder {
  padding: 7px 5px;
  text-decoration: none;
  color: #000;
}

.reorder--none {
  display: none;
}

.resizer {
  cursor: col-resize;
  background-color: transparent;
  width: 3px;
  border-left: 1px solid #ddd;
  margin-right: -2px;
  z-index: 1;
}
