.tabs {
  height: 26px;
}

.tab {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #eee;
  user-select: none;
  background-color: #eee;

  &.selected {
    background-color: white;
  }

  &.drag {
    opacity: 0;
  }

  &.mirror {
    position: absolute;
  }

  a {
    margin: 10px;
  }
}
