.grid-row {
  display: flex;
  min-width: 100%;

  &.row--even {
    background-color: #f5f5f5;

    .gutter {
      background-color: #f5f5f5;
    }
  }

  &.row--selected {
    background-color: #ddd;

    .gutter {
      background-color: #ddd;
    }

    .null {
      color: #999;
    }
  }

  :global(.focus) &.row--selected {
    background-color: blue;
    color: #fff;

    .gutter {
      background-color: blue;
      color: #fff;
    }

    .null {
      color: #fff;
      opacity: 0.7;
    }
  }
}

.gutter {
  position: sticky;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.cell {
  padding: 4px 5px;

  .truncate {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.null {
  color: #bbb;
}
