.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.columns {
  display: flex;
  background-color: #ddd;
}

.gutter {
  position: sticky;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
}
