.service {
  grid-area: content;
  display: grid;
  grid-template-rows: 0 auto;
  grid-template-columns: 200px auto;
  grid-template-areas: "goto-placeholder goto-placeholder" "sidebar content";
  overflow: hidden;
}

.goto-placeholder {
  grid-area: goto-placeholder;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-areas: "tabs" "content";
  overflow: hidden;
}
