.sidebar-entities {
  padding: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .no-results {
    flex: 1 0;
  }

  .list {
    flex: 1 0;
    overflow: auto;
  }
}

.filter {
  width: 100%;
}
