.dock {
  grid-area: dock;
  overflow: auto;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
}

.new-connection {
  display: block;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
  margin: 5px;

  &:hover {
    background-color: #ccc;
  }
}
