html, body {
  margin: 0;
  padding: 0;
  font: 12px sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 40px auto;
  grid-template-areas: "header header" "dock content";
}

.hidden {
  display: none;
}
