.title-bar {
  grid-area: header;
  border-bottom: 1px solid #ddd;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 20px;
}
