.sidebar-item {
  padding: 5px 5px;
  cursor: pointer;

  &:hover {
    background-color: #eee;

    .content a.menu-trigger {
      display: inline;
    }
  }

  &.focus {
    background-color: #ddd;
  }

  :global(.focus) &.focus {
    background-color: blue;
    color: #fff;

    .content a.menu-trigger {
      color: #fff;
    }
  }

  &.active {
    font-weight: bold;
  }

  &.dim {
    opacity: 0.4;
  }

  .content {
    display: flex;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;
    }

    a.menu-trigger {
      display: none;
    }
  }
}

.menu {
  border: 1px solid #ddd;
  background-color: #fff;

  a {
    color: #000;
    padding: 5px 10px;
    display: block;

    &:hover {
      background-color: #eee;
    }
  }
}
