html, body {
  margin: 0;
  padding: 0;
  font: 12px sans-serif;
  font-size: 1px;
}

.table {
  border-spacing: 0;
  width: 100%;
  font-size: 12px;
}

.table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

.table td {
  border: 1px solid transparent;
}

.selectedRow {
  background-color: #eee;
}

.table .selectedCell {
  border: 1px solid #000;
}
